$color__brand-blue: #2354E8;
$color__brand-cyan: #1AC6BA;
$color__brand-salmon: #FF715B;
$color__brand-gray: #E3E3E3;

$color__black: #1B1725;
$color__white: rgb(255, 255, 255);

$color__pink: #ffffff;
$color__gray-text: #9B9B9B;
// $color__gray-text:  //#7C7C7C;


$color__white--opaque: rgba(255, 255, 255, 0.95);
$color__box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
