.work-list {
  text-align: center;
  width: 100%;

  &__project {
    position: relative;

    & + & {
      margin-top: px-to-em($spacing__md);
    }
  }

  &__figure {
    @include center-align(both);
  }
  &__shot {
    display: block;
    max-width: 50vh;
    opacity: 0.28;
  }

  &__link {
    font-size: 7vw;
    color: $color__white;
    position: relative;
    z-index: 5;
    display: inline-block;
  }

  @include respond-to('between') {
    &__link {
      font-size: px-to-em($font-size__hero);
    }
  }
}